<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center logo">
            <img src="/assets/images/knnewlogo.png">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
        <ion-card-header>
            <ion-card-title>My Horoscope Settings</ion-card-title>
        </ion-card-header>
        <ion-list class="ion-padding">
            <ion-list>
                <ion-radio-group [(ngModel)]="selectedData.horoscope_match_format">
                    <ion-list-header>
                        <ion-label color="primary">Horoscope Match Format</ion-label>
                    </ion-list-header>
                    <ion-item *ngFor="let entry of horoscope_match_format">
                        <ion-label>{{entry.val}}</ion-label>
                        <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
            <ion-list>
                <ion-radio-group [(ngModel)]="selectedData.nakshtra_check">
                    <ion-list-header>
                        <ion-label color="primary">Nakshtra Check</ion-label>
                    </ion-list-header>
                    <ion-item *ngFor="let entry of nakshtra_check">
                        <ion-label>{{entry.val}}</ion-label>
                        <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
            <ion-list>
                <ion-radio-group [(ngModel)]="selectedData.papasamyam_check">
                    <ion-list-header>
                        <ion-label color="primary">Papasamyam Check</ion-label>
                    </ion-list-header>
                    <ion-item *ngFor="let entry of papasamyam_check">
                        <ion-label>{{entry.val}}</ion-label>
                        <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
            <ion-list>
                <ion-radio-group [(ngModel)]="selectedData.manglik">
                    <ion-list-header>
                        <ion-label color="primary">Manglik / Chevvai Dosha Check</ion-label>
                    </ion-list-header>
                    <ion-item *ngFor="let entry of manglik">
                        <ion-label>{{entry.val}}</ion-label>
                        <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
            <ion-list>
                <ion-radio-group [(ngModel)]="selectedData.dasa">
                    <ion-list-header>
                        <ion-label color="primary">Dasa Sandhi Check</ion-label>
                    </ion-list-header>
                    <ion-item *ngFor="let entry of dasa">
                        <ion-label>{{entry.val}}</ion-label>
                        <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
            <ion-button expand="block" color="primary" (click)="save()">Save</ion-button>
        </ion-list>
    </ion-card>

</ion-content>