<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center logo">
            <img src="/assets/images/knnewlogo.png">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
        <ion-card-header>
            <ion-card-title>My Horoscope Settings</ion-card-title>
        </ion-card-header>
        <ion-list class="ion-padding">

            <ion-list>
                <ion-radio-group value="Dashakoota">
                    <ion-list-header>
                        <ion-label>Horoscope Match Format</ion-label>
                    </ion-list-header>
                    <ion-item>
                        <ion-label>Ashtakoota</ion-label>
                        <ion-radio slot="start" value="Ashtakoota"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Dashakoota</ion-label>
                        <ion-radio slot="start" value="Dashakoota"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
            <ion-list>
                <ion-radio-group value="Required">
                    <ion-list-header>
                        <ion-label>Nakshtra Check</ion-label>
                    </ion-list-header>
                    <ion-item>
                        <ion-label>Not Required</ion-label>
                        <ion-radio slot="start" value="Not Required"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Required</ion-label>
                        <ion-radio slot="start" value="Required"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
            <ion-list>
                <ion-radio-group value="Not Required">
                    <ion-list-header>
                        <ion-label>Papasamyam Check</ion-label>
                    </ion-list-header>
                    <ion-item>
                        <ion-label>Not Required</ion-label>
                        <ion-radio slot="start" value="Not Required"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Required</ion-label>
                        <ion-radio slot="start" value="Required"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
            <ion-list>
                <ion-radio-group value="Not Required">
                    <ion-list-header>
                        <ion-label>Manglik / Chevvai Dosha Check</ion-label>
                    </ion-list-header>
                    <ion-item>
                        <ion-label>Not Required</ion-label>
                        <ion-radio slot="start" value="Not Required"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Ordinary Check Required</ion-label>
                        <ion-radio slot="start" value="Ordinary Check Required"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Strict Check Required</ion-label>
                        <ion-radio slot="start" value="Strict Check Required"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
            <ion-list>
                <ion-radio-group value="Strict Check Required">
                    <ion-list-header>
                        <ion-label>Dasa Sandhi Check</ion-label>
                    </ion-list-header>
                    <ion-item>
                        <ion-label>Not Required</ion-label>
                        <ion-radio slot="start" value="Not Required"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Ordinary Check Required</ion-label>
                        <ion-radio slot="start" value="Ordinary Check Required"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Strict Check Required</ion-label>
                        <ion-radio slot="start" value="Strict Check Required"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>

            <ion-button expand="block" color="primary">Save</ion-button>
        </ion-list>
    </ion-card>

</ion-content>