<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button color="primary"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center logo">
          <img src="/assets/images/knnewlogo.png">
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentActionSheet()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <input type="file" *ngIf="isDesktop" #filePicker (change)="onFileChoose($event)"/>
  <ion-card *ngIf="photo">
    <ion-card-content>
      <img [src]="photo">
    </ion-card-content>
  </ion-card>
  <ion-radio-group [value]="isProfile" (ionChange)="radioSelect($event)">
    <ion-row>
      <ion-col size="6" *ngFor="let item of pics">
        <ion-card>
        <ion-item>
          <ion-label>Set as Profle Pictue</ion-label>
          <ion-radio value="{{item.id}}"></ion-radio>
        </ion-item>
          <img class="pic_profile" [src]="item.image">
        <ion-button size="small" expand="block" (click) = "remove(item.id)">
          <ion-icon slot="start" name="trash"></ion-icon>
          Remove Photo
        </ion-button>
        </ion-card>
      </ion-col>
  </ion-row>
  </ion-radio-group>

  
</ion-content>
