<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center logo">
      <img src="/assets/images/knnewlogo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Partner Preferences</ion-card-title>
      <ion-card-subtitle>Tell us what you are looking for in a life partner</ion-card-subtitle>
    </ion-card-header>
    <ion-list class="ion-padding">
      <ion-item>
        <ion-range min="18" max="45"  dual-knobs pin [(ngModel)]="selectedData.age">
          <ion-label slot="start">Age 18</ion-label>
          <ion-label slot="end">Age 45</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label>Height From</ion-label>
        <ion-select interface="popover" [(ngModel)]="selectedData.heightFrom">
          <ion-select-option *ngFor="let data of dropDown.heightFrom" [value]="data.id">{{data.height_label_feet}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Height To</ion-label>
        <ion-select interface="popover" [(ngModel)]="selectedData.heightTo">
          <ion-select-option *ngFor="let data of dropDown.heightFrom" [value]="data.id">{{data.height_label_feet}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Marital Status</ion-label>
        <ion-select multiple="true" interface="popover" [(ngModel)]="selectedData.marital_status">
          <ion-select-option value="1">Brown</ion-select-option>
          <ion-select-option value="2">Blonde</ion-select-option>
          <ion-select-option value="3">Black</ion-select-option>
          <ion-select-option value="4">Red</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Religion</ion-label>
        <ion-select multiple="true" interface="popover" [(ngModel)]="selectedData.religion">
          <ion-select-option *ngFor="let data of dropDown.religions" [value]="data.id">{{data.religion}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Mother Tongue</ion-label>
        <ion-select multiple="true" interface="popover" [(ngModel)]="selectedData.tongue">
          <ion-select-option *ngFor="let data of dropDown.tongues" [value]="data.tongue_id">{{data.tongue}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Community</ion-label>
        <ionic-selectable
          [(ngModel)]="selectedData.community"
          [items]="dropDown.communities"
          [isMultiple]="true"
          [isConfirmButtonEnabled]="true"
          headerColor="primary"
          itemValueField="id"
          itemTextField="community"
          [canSearch]="true">
        </ionic-selectable>
      </ion-item>
      <ion-text color="dark">
        <h4 class="header"> Location Details</h4>
      </ion-text>
      <ion-item>
        <ion-label>Country in Living</ion-label>
        <ionic-selectable
          [(ngModel)]="selectedData.country"
          [items]="dropDown.countries"
          [isMultiple]="false"
          [isConfirmButtonEnabled]="true"
          headerColor="primary"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          (onChange)="countryChange($event)">
        </ionic-selectable>
      </ion-item>
      <ion-item>
        <ion-label>State in Living</ion-label>
        <ionic-selectable
          [(ngModel)]="selectedData.state"
          [items]="dropDown.states"
          [isMultiple]="true"
          [isConfirmButtonEnabled]="true"
          headerColor="primary"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true">
        </ionic-selectable>
      </ion-item>
      <ion-text color="dark">
        <h4 class="header">Education & Profession Details</h4>
      </ion-text>
      <ion-item>
        <ion-label>Education</ion-label>
        <ionic-selectable
          [(ngModel)]="selectedData.education"
          [items]="dropDown.communities"
          [isMultiple]="true"
          [isConfirmButtonEnabled]="true"
          headerColor="primary"
          itemValueField="id"
          itemTextField="community"
          [canSearch]="true">
        </ionic-selectable>
      </ion-item>
      <ion-item>
        <ion-label>Workign With</ion-label>
        <ion-select multiple="true" interface="popover" [(ngModel)]="selectedData.workign_with">
          <ion-select-option value="1">Brown</ion-select-option>
          <ion-select-option value="2">Blonde</ion-select-option>
          <ion-select-option value="3">Black</ion-select-option>
          <ion-select-option value="4">Red</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Profession Area</ion-label>
        <ionic-selectable
          [(ngModel)]="selectedData.profession_area"
          [items]="dropDown.communities"
          [isMultiple]="true"
          [isConfirmButtonEnabled]="true"
          headerColor="primary"
          itemValueField="id"
          itemTextField="community"
          [canSearch]="true">
        </ionic-selectable>
      </ion-item>
      <ion-item>
        <ion-label>Annual Income</ion-label>
        <ion-select interface="popover" [(ngModel)]="selectedData.annual_income">
          <ion-select-option value="1">Brown</ion-select-option>
          <ion-select-option value="2">Blonde</ion-select-option>
          <ion-select-option value="3">Black</ion-select-option>
          <ion-select-option value="4">Red</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="dark">
        <h4 class="header">Other Details</h4>
      </ion-text>
      <ion-text color="dark">
        <h5>Profile created by</h5>
      </ion-text>
      <ion-item *ngFor="let entry of owners">
        <ion-label>{{entry.val}}</ion-label>
        <ion-checkbox slot="start" [value] = "entry.val" [(ngModel)]="entry.isChecked"></ion-checkbox>
      </ion-item>
      <ion-text color="dark">
        <h5>Diet</h5>
      </ion-text>
      <ion-item *ngFor="let entry of diets">
        <ion-label>{{entry.val}}</ion-label>
        <ion-checkbox slot="start" [value] = "entry.val" [(ngModel)]="entry.isChecked"></ion-checkbox>
      </ion-item>
      <ion-button expand="block" color="primary" (click)="save()">Save & Continue</ion-button>
    </ion-list>
  </ion-card>
</ion-content>

