<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center logo">
            <img src="/assets/images/knnewlogo.png">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
        <ion-card-header>
            <ion-card-title>Partner Preferences</ion-card-title>
            <ion-card-subtitle>Tell us what you are looking for in a life partner</ion-card-subtitle>
        </ion-card-header>
        <ion-list class="ion-padding">
            <ion-item>
                <ion-range min="18" max="45" dual-knobs pin [(ngModel)]="selectedData.age">
                    <ion-label slot="start">Age 18</ion-label>
                    <ion-label slot="end">Age 45</ion-label>
                </ion-range>
            </ion-item>
            <ion-item>
                <ion-label color="primary">Height From</ion-label>
                <ionic-selectable [(ngModel)]="selectedData.heightFrom" [items]="dropDown.heightFrom" [isMultiple]="false" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="height_label_feet" [canSearch]="true">
                </ionic-selectable>
            </ion-item>
            <ion-item>
                <ion-label color="primary">Height To</ion-label>
                <ionic-selectable [(ngModel)]="selectedData.heightTo" [items]="dropDown.heightFrom" [isMultiple]="false" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="height_label_feet" [canSearch]="true">
                </ionic-selectable>
            </ion-item>
            <ion-item>
                <ion-label color="primary">Marital Status</ion-label>
                <ion-select multiple="true" interface="alert" [(ngModel)]="selectedData.marital_status">
                    <ion-select-option *ngFor="let data of dropDown.martialstatus" [value]="data.id">{{data.name}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label color="primary">Religion</ion-label>
                <ion-select multiple="true" interface="alert" [(ngModel)]="selectedData.religion">
                    <ion-select-option *ngFor="let data of dropDown.religions" [value]="data.id">{{data.religion}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label color="primary">Mother Tongue</ion-label>
                <ionic-selectable [(ngModel)]="selectedData.tongue" [items]="dropDown.tongues" [isMultiple]="true" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="tongue_id" itemTextField="tongue" [canSearch]="true">
                </ionic-selectable>
            </ion-item>
            <ion-item>
                <ion-label color="primary">Community</ion-label>
                <ionic-selectable [(ngModel)]="selectedData.community" [items]="dropDown.communities" [isMultiple]="true" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="community" [canSearch]="true">
                </ionic-selectable>
            </ion-item>
            <ion-text color="dark">
                <h4 class="header"> Location Details</h4>
            </ion-text>
            <ion-item>
                <ion-label color="primary">Country in Living</ion-label>
                <ionic-selectable [(ngModel)]="selectedData.country" [items]="dropDown.countries" [isMultiple]="true" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="name" [canSearch]="true" (onChange)="countryChange($event)">
                </ionic-selectable>
            </ion-item>
            <ion-item>
                <ion-label color="primary">State in Living</ion-label>
                <ionic-selectable [(ngModel)]="selectedData.state" [items]="dropDown.states" [isMultiple]="true" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="name" [canSearch]="true">
                </ionic-selectable>
            </ion-item>
            <ion-text color="dark">
                <h4 class="header">Education & Profession Details</h4>
            </ion-text>
            <ion-item>
                <ion-label color="primary">Education Level</ion-label>
                <ionic-selectable [(ngModel)]="selectedData.education" placeholder="Your Education Level" [items]="dropDown.educationLevels" [isMultiple]="true" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="name" [canSearch]="true">
                </ionic-selectable>
            </ion-item>
            <ion-item>
                <ion-label color="primary">Workign With</ion-label>
                <ion-select multiple="true" interface="alert" [(ngModel)]="selectedData.workign_with">
                    <ion-select-option *ngFor="let data of dropDown.workWiths" [value]="data.id">{{data.name}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label color="primary">Profession Area</ion-label>
                <ionic-selectable [(ngModel)]="selectedData.profession_area" [items]="dropDown.occupations" [isMultiple]="true" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="name" [canSearch]="true">
                </ionic-selectable>
            </ion-item>
            <ion-item>
                <ion-label color="primary">Annual Income</ion-label>
                <ionic-selectable [(ngModel)]="selectedData.annual_income" [items]="dropDown.annualIncomes" [isMultiple]="true" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="name" [canSearch]="true">
                </ionic-selectable>
            </ion-item>
            <ion-text color="dark">
                <h4 class="header">Other Details</h4>
            </ion-text>
            <ion-text color="primary">
                <h5>Profile created by</h5>
            </ion-text>
            <ion-item *ngFor="let entry of owners">
                <ion-label>{{entry.val}}</ion-label>
                <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
            </ion-item>
            <ion-text color="primary">
                <h5>Diet</h5>
            </ion-text>
            <ion-item *ngFor="let entry of dropDown.diets">
                <ion-label>{{entry.name}}</ion-label>
                <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
            </ion-item>
            <ion-button expand="block" color="primary" (click)="save()">Save & Continue</ion-button>
        </ion-list>
    </ion-card>
</ion-content>