<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center logo">
            <img src="/assets/images/knnewlogo.png">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Privacy Manager</ion-card-title>
            </ion-card-header>
            <ion-list class="ion-padding">
                <ion-text color="dark">

                    <h4 class="header">My Privacy Options</h4>
                </ion-text>

                <ion-list>
                    <ion-radio-group>
                        <ion-list-header>
                            <ion-label class="radiolabel">
                                Match Mail & Photo Match Mail
                                <p>Personalized matches for you delivered via email as often as you like. A very effective match-making tool.</p>
                            </ion-label>

                        </ion-list-header>

                        <ion-item *ngFor="let entry of match_mail_photo_match_mail">
                            <ion-label class="radiolabelOption">{{entry.val}}</ion-label>
                            <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                </ion-list>
                <ion-list>
                    <ion-radio-group>
                        <ion-list-header>
                            <ion-label class="radiolabel">
                                Premium Match Mail
                                <p>An email notification containing your Matches who have upgraded to a Premium Membership.</p>
                            </ion-label>

                        </ion-list-header>

                        <ion-item *ngFor="let entry of premium_match_mail">
                            <ion-label class="radiolabelOption">{{entry.val}}</ion-label>
                            <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                        </ion-item>


                    </ion-radio-group>
                </ion-list>
                <ion-list>
                    <ion-radio-group>
                        <ion-list-header>
                            <ion-label class="radiolabel">
                                Recent Visitors Email
                                <p>An email notification of Members who have recently Viewed your Profile.</p>
                            </ion-label>

                        </ion-list-header>

                        <ion-item *ngFor="let entry of recent_visitor_email">
                            <ion-label class="radiolabelOption">{{entry.val}}</ion-label>
                            <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                        </ion-item>


                    </ion-radio-group>
                </ion-list>
                <ion-list>
                    <ion-radio-group>
                        <ion-list-header>
                            <ion-label class="radiolabel">
                                Members who Shortlisted you Email
                                <p>An email notification of Members who have recently Shortlisted your Profile.</p>
                            </ion-label>

                        </ion-list-header>

                        <ion-item *ngFor="let entry of member_who_shortlist_you_email">
                            <ion-label class="radiolabelOption">{{entry.val}}</ion-label>
                            <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                        </ion-item>


                    </ion-radio-group>
                </ion-list>
                <ion-list>
                    <ion-radio-group>
                        <ion-list-header>
                            <ion-label class="radiolabel">
                                Viewed Profiles Email
                                <p>An email reminder containing Profiles you have Viewed recently but have not yet invited to Connect.</p>
                            </ion-label>

                        </ion-list-header>

                        <ion-item *ngFor="let entry of viewed_profile_email">
                            <ion-label class="radiolabelOption">{{entry.val}}</ion-label>
                            <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                        </ion-item>


                    </ion-radio-group>
                </ion-list>
                <ion-list>
                    <ion-radio-group>
                        <ion-list-header>
                            <ion-label class="radiolabel">
                                Similar Profiles Email
                                <p>An email containing Profiles that are similar to the ones you have liked recently..</p>
                            </ion-label>

                        </ion-list-header>

                        <ion-item *ngFor="let entry of similar_profile">
                            <ion-label class="radiolabelOption">{{entry.val}}</ion-label>
                            <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                        </ion-item>


                    </ion-radio-group>
                </ion-list>
                <ion-list>
                    <ion-radio-group>
                        <ion-list-header>
                            <ion-label class="radiolabel">
                                Contact Alert
                                <p>Alerts you receive every time someone contacts you or you receive a response to a contact initiated by you. Get them in your mailbox at a frequency of your choice. Essential to keep you informed of all responses received.</p>
                            </ion-label>

                        </ion-list-header>

                        <ion-item *ngFor="let entry of contact_alert">
                            <ion-label class="radiolabelOption">{{entry.val}}</ion-label>
                            <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                        </ion-item>


                    </ion-radio-group>
                </ion-list>
                <ion-list>
                    <ion-radio-group>
                        <ion-list-header>
                            <ion-label class="radiolabel">
                                Message Received Alert
                                <p>An email notification of new messages received recently.</p>
                            </ion-label>

                        </ion-list-header>

                        <ion-item *ngFor="let entry of message_recv_alert">
                            <ion-label class="radiolabelOption">{{entry.val}}</ion-label>
                            <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                        </ion-item>


                    </ion-radio-group>
                </ion-list>
                <ion-list>
                    <ion-radio-group>
                        <ion-list-header>
                            <ion-label class="radiolabel">
                                Kanyadanam Specials
                                <p>Invitations, Discounts, and Offers just for Kanyadanam.com members.</p>
                            </ion-label>

                        </ion-list-header>

                        <ion-item *ngFor="let entry of kndnm_special">
                            <ion-label class="radiolabelOption">{{entry.val}}</ion-label>
                            <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                        </ion-item>


                    </ion-radio-group>
                </ion-list>




                <ion-button expand="block" color="primary">Update Profile</ion-button>
            </ion-list>
        </ion-card>
    </div>

</ion-content>