ion-card-header {
    background: #f7f7f9 !important;
}

.header {
    background-color: #f7f7f9;
    padding: 15px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 15px;
}

.radiolabel {
    font-size: 16px;
}

.radiolabelOption {
    text-transform: capitalize;
}

.radiolabel p {
    font-size: 12px;
    word-wrap: break-word;
}

.radiolabel p>span {
    font-weight: bold;
    color: black;
}