.container {
    border: 1px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 5px;
    margin: 4px 10px 2px 10px;
    //width: fit-content;
    max-width: 85%;
    float: left;
    p{
        margin: 0px;
        font-size: 12px;
    }
  }
  
  .darker {
    border-color: #ccc;
    background-color: #D9495E;
    color: white;
    float: right;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: whitesmoke;
    font-size: 10px;
    margin-left: 6px;
    margin-bottom: 6px;
    bottom: -5px;
    position: relative;
  }
  
  .time-left {
    font-size: 10px;
    float: right;
    color: black;
    margin-left: 6px;
    margin-bottom: 6px;
    bottom: -5px;
    position: relative;
  }
  ion-avatar {
    border: 1px solid #ffffff;
  }
  ion-input{
    background-color: white;
    border-radius: 25px;
  }
  .footer_botton{
    margin: 0px;
  }
  .main_dev{
    float: left;
    width: 100%;
  }