.last_time{
    float: right;
    color: darkgrey;
    font-size: 12px;
}

.last_count{
    text-align: center;
    height: 20px;
    width: 20px;
    float: right;
    color: white;
    background-color: #D9495E;
    font-size: 11px;
    border-radius: 10px;
}