<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center logo">
      <img src="/assets/images/knnewlogo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg">
  <ion-card>
    <ion-text color="dark" class="ion-text-center">
      <h3 class="highlighted-text"><span >Login </span>and begin <br> with a <br> beautiful journey</h3>
    </ion-text>
    <ion-text color="dark" class="ion-text-center">
      <p>Already a member? Please enter your Email id </p>
    </ion-text>
    <form [formGroup]="rForm">
    <ion-list class="ion-padding">
      <ion-item>
        <ion-label position="floating" color="primary">Email Address</ion-label>
        <ion-input type="email" formControlName="email" required ></ion-input>
      </ion-item>
      <div>
        <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">Please Enter a valid email id.</div>
    </div>
      <ion-item>
        <ion-label position="floating" color="primary">Password</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>
      <div>
        <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">Please Enter password</div>
    </div>
      <!-- <ion-item>
        <ion-label>Keep me Logged in</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item> -->
      <ion-text color="danger">
        <p [routerLink]="['/forgotpassword']">Forgot password?</p>
      </ion-text>
      <ion-button expand="block" color="primary" [disabled]="!rForm.valid" (click)="login()">Login</ion-button>
      <ion-text color="dark" class="ion-text-center">
        <h6 class="highlighted-text">Don't have an account?<br><span [routerLink]="['/signup']">SIGN UP FREE </span></h6>
      </ion-text>
    </ion-list>
  </form>
  </ion-card>
 
</ion-content>

