<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center logo">
            <img src="/assets/images/knnewlogo.png">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-button color="primary" fill="outline" routerLink="/search" routerDirection="root">Search</ion-button>
    <ion-button color="primary" fill="outline" routerLink="/advancesearch" routerDirection="root">Advance Search</ion-button>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Advance Search</ion-card-title>
            <ion-card-subtitle>Search Your Partner</ion-card-subtitle>
        </ion-card-header>
        <ion-list class="ion-padding">
            <ion-text color="dark">
                <h4 class="header">Basic Details</h4>
            </ion-text>
            <ion-item>
                <ion-range min="18" max="45" dual-knobs pin [value]="{ lower: 21, upper: 45 }">
                    <ion-label slot="start">Age 18</ion-label>
                    <ion-label slot="end">Age 45</ion-label>
                </ion-range>
            </ion-item>
            <ion-item>
                <ion-label>Height From</ion-label>
                <ionic-selectable [(ngModel)]="port" [items]="ports" placeholder="Height From" itemValueField="id" headerColor="primary" itemTextField="name" [canSearch]="true" (onChange)="portChange($event)">
                </ionic-selectable>
            </ion-item>
            <ion-item>
                <ion-label>Height To</ion-label>
                <ionic-selectable [(ngModel)]="port" [items]="ports" itemValueField="id" placeholder="Height To" itemTextField="name" headerColor="primary" [canSearch]="true" (onChange)="portChange($event)">
                </ionic-selectable>
            </ion-item>
            <ion-item>
                <ion-label>Marital Status</ion-label>
                <ion-select multiple="true" interface="popover" placeholder="Marital Status">
                    <ion-select-option value="brown">Brown</ion-select-option>
                    <ion-select-option value="blonde">Blonde</ion-select-option>
                    <ion-select-option value="black">Black</ion-select-option>
                    <ion-select-option value="red">Red</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Religion</ion-label>
                <ion-select multiple="true" interface="popover" placeholder="Religion">
                    <ion-select-option value="brown">Brown</ion-select-option>
                    <ion-select-option value="blonde">Blonde</ion-select-option>
                    <ion-select-option value="black">Black</ion-select-option>
                    <ion-select-option value="red">Red</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Mother Tongue</ion-label>
                <ionic-selectable [(ngModel)]="port" [items]="ports" [isMultiple]="true" itemValueField="id" placeholder="Mother Tongue" [isConfirmButtonEnabled]="true" headerColor="primary" itemTextField="name" [canSearch]="true" (onChange)="portChange($event)">
                </ionic-selectable>
            </ion-item>
            <ion-item>
                <ion-label>Community</ion-label>
                <ionic-selectable [(ngModel)]="port" [items]="ports" [isMultiple]="true" placeholder="Community" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="name" [canSearch]="true" (onChange)="portChange($event)">
                </ionic-selectable>
            </ion-item>
            <ion-text color="dark">
                <h4 class="header">Location & Grew up in Details</h4>
            </ion-text>
            <ion-item>
                <ion-label>Country Living in</ion-label>
                <ionic-selectable [(ngModel)]="port" [items]="ports" [isMultiple]="true" placeholder="Country Living in" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="name" [canSearch]="true" (onChange)="portChange($event)">
                </ionic-selectable>
            </ion-item>
            <ion-item>
                <ion-label>State Living in</ion-label>
                <ionic-selectable [(ngModel)]="port" [items]="ports" [isMultiple]="true" placeholder="State Living in" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="name" [canSearch]="true" (onChange)="portChange($event)">
                </ionic-selectable>
            </ion-item>
            <ion-text color="dark">
                <h4 class="header">Education & Profession Details</h4>
            </ion-text>
            <ion-item>
                <ion-label>Education</ion-label>
                <ionic-selectable [(ngModel)]="port" [items]="ports" [isMultiple]="true" placeholder="Education" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="name" [canSearch]="true" (onChange)="portChange($event)">
                </ionic-selectable>
            </ion-item>
            <ion-item>
                <ion-label>Education Area</ion-label>
                <ionic-selectable [(ngModel)]="port" [items]="ports" [isMultiple]="true" placeholder="Education Area" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="name" [canSearch]="true" (onChange)="portChange($event)">
                </ionic-selectable>
            </ion-item>
            <ion-item>
                <ion-label>Working With</ion-label>
                <ionic-selectable [(ngModel)]="port" [items]="ports" [isMultiple]="true" placeholder="Working With" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="name" [canSearch]="true" (onChange)="portChange($event)">
                </ionic-selectable>
            </ion-item>
            <ion-item>
                <ion-label>Profession Area</ion-label>
                <ionic-selectable [(ngModel)]="port" [items]="ports" [isMultiple]="true" placeholder="Profession Area" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="name" [canSearch]="true" (onChange)="portChange($event)">
                </ionic-selectable>
            </ion-item>
            <ion-item>
                <ion-label>Your Annual Income</ion-label>
                <ionic-selectable [(ngModel)]="port" [items]="ports" [isMultiple]="true" placeholder="Your Annual Income" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="name" [canSearch]="true" (onChange)="portChange($event)">
                </ionic-selectable>
            </ion-item>
            <ion-button expand="block" color="primary">Search</ion-button>
        </ion-list>
    </ion-card>
</ion-content>