<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center logo">
            <img src="/assets/images/knnewlogo.png">
        </ion-title>
        <ion-buttons slot="end">
            <ion-button [routerLink]="'/search'">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment scrollable [(ngModel)]="selectedTab" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="new_matches">
            <ion-label>New Matches <ion-text *ngIf="count.new_matches">({{count.new_matches}})</ion-text></ion-label>
          </ion-segment-button>
          <ion-segment-button value="today_matches">
            <ion-label>Today's Matches <ion-text *ngIf="count.today_matches">({{count.today_matches}})</ion-text></ion-label>
          </ion-segment-button>
          <ion-segment-button value="my_matches">
            <ion-label>My Matches <ion-text *ngIf="count.my_matches">({{count.my_matches}})</ion-text></ion-label>
          </ion-segment-button>
          <ion-segment-button value="more_matches">
            <ion-label>More Matches <ion-text *ngIf="count.more_matches">({{count.more_matches}})</ion-text></ion-label>
          </ion-segment-button>
          <ion-segment-button value="recent_view">
            <ion-label>Recently Viewed <ion-text *ngIf="count.recent_view">({{count.recent_view}})</ion-text></ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="card-background-page">
    <ion-card class="scroll_card" [style.background-image]="'url('+item.first_image+')'" *ngFor="let item of data" (click) = "openDetailpage(item.uniq_id)" >
      <div>
        <ion-row>
          <ion-col size="6">
            <ion-button class="wishlist" size="large" fill="clear" *ngIf="item.isshowWishlist"  (click) = "connect(item , 'wishlist');$event.stopPropagation();">
              <ion-icon slot="start" name="heart-outline"></ion-icon>
          </ion-button>
          <ion-button class="wishlist" size="large" fill="clear" *ngIf="!item.isshowWishlist">
            <ion-icon slot="start" name="heart"></ion-icon>
          </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="images" size="large" fill="clear" *ngIf="item.imageCount" (click) = "openSlider(item.uniq_id);$event.stopPropagation();">
              <ion-icon name="images" slot="end"></ion-icon>
              {{item.imageCount}}
          </ion-button>
          </ion-col>
        </ion-row>
      </div>
     <div>
      <!-- <img [src]="item.first_image" /> -->
      <div class="data">
          <p class="name">
              {{item.name}}
          </p>
          <p>
              {{item.age }}yrs<ion-text *ngIf="item.user_detail.height_detail_api">, {{item.user_detail.height_detail_api.height_label_feet}}</ion-text>
          </p>
          <p>
            <ion-text *ngIf="item.user_detail.religion_detail_api">{{item.user_detail.religion_detail_api.religion}}</ion-text><ion-text *ngIf="item.user_detail.community_detail_api">, {{item.user_detail.community_detail_api.community}}</ion-text>
           </p>
          <p>
            <ion-text *ngIf="item.user_detail.city_detail_api">{{item.user_detail.city_detail_api.name}}</ion-text><ion-text *ngIf="item.user_detail.state_detail_api">, {{item.user_detail.state_detail_api.name}}</ion-text> <ion-text *ngIf="item.user_detail.country_detail_api">{{item.user_detail.country_detail_api.name}}</ion-text>
          </p>
          <ion-row class="button_list">
              <ion-col>
                  <ion-button size="small" expand="block" *ngIf="item.isshow" (click) = "connect(item , 'connect');$event.stopPropagation();">
                      <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                      Connect Now
                  </ion-button>
                  <ion-button size="small" color="light" *ngIf="!item.isshow" expand="block" (click) = "$event.stopPropagation();">
                    <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                    Request Sent
                </ion-button>
              </ion-col>
          </ion-row>
      </div>
     </div>
        
    </ion-card>
    <ion-card *ngIf="!data.length" class="no_data">
      <ion-button  expand="block" fill="clear" color="danger">
        <ion-icon slot="start" name="alert-circle"></ion-icon>
        No Data Found
      </ion-button>
    </ion-card>
<!-- fab placed to the top end -->
<ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="openModal()">
      <ion-icon name="funnel-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>