<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center logo">
      <img src="/assets/images/knnewlogo.png">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
   <div class="title">
    <p class="title1">New Matches (12)</p>
    <p class="title2">See All</p>
   </div>
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <ion-card class="scroll_card">
        <img src="/assets/images/avatar.jpeg"/>
        <p class="name">
          Ajay kumar
        </p><p>
          25yrs, 5'5"
        </p>
        <p>
          Hindi, Saini
        </p>
        <p>
          Meerut, Utter Pradesh
        </p>
        <ion-button expand="block" fill="outline">Connect Now</ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="scroll_card">
        <img src="/assets/images/avatar.jpeg"/>
        <p class="name">
          Ajay kumar
        </p><p>
          25yrs, 5'5"
        </p>
        <p>
          Hindi, Saini
        </p>
        <p>
          Meerut, Utter Pradesh
        </p>
        <ion-button expand="block" fill="outline">Connect Now</ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="scroll_card">
        <img src="/assets/images/avatar.jpeg"/>
        <p class="name">
          Ajay kumar
        </p><p>
          25yrs, 5'5"
        </p>
        <p>
          Hindi, Saini
        </p>
        <p>
          Meerut, Utter Pradesh
        </p>
        <ion-button expand="block" fill="outline">Connect Now</ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="scroll_card">
        <img src="/assets/images/avatar.jpeg"/>
        <p class="name">
          Ajay kumar
        </p><p>
          25yrs, 5'5"
        </p>
        <p>
          Hindi, Saini
        </p>
        <p>
          Meerut, Utter Pradesh
        </p>
        <ion-button expand="block" fill="outline">Connect Now</ion-button>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <div class="title" id="my_match">
    <p class="title1">My Matches (12)</p>
    <p class="title2">See All</p>
   </div>
  
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <ion-card class="scroll_card">
        <img src="/assets/images/avatar.jpeg"/>
        <p class="name">
          Ajay kumar
        </p><p>
          25yrs, 5'5"
        </p>
        <p>
          Hindi, Saini
        </p>
        <p>
          Meerut, Utter Pradesh
        </p>
        <ion-button expand="block" fill="outline">Connect Now</ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="scroll_card">
        <img src="/assets/images/avatar.jpeg"/>
        <p class="name">
          Ajay kumar
        </p><p>
          25yrs, 5'5"
        </p>
        <p>
          Hindi, Saini
        </p>
        <p>
          Meerut, Utter Pradesh
        </p>
        <ion-button expand="block" fill="outline">Connect Now</ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="scroll_card">
        <img src="/assets/images/avatar.jpeg"/>
        <p class="name">
          Ajay kumar
        </p><p>
          25yrs, 5'5"
        </p>
        <p>
          Hindi, Saini
        </p>
        <p>
          Meerut, Utter Pradesh
        </p>
        <ion-button expand="block" fill="outline">Connect Now</ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="scroll_card">
        <img src="/assets/images/avatar.jpeg"/>
        <p class="name">
          Ajay kumar
        </p><p>
          25yrs, 5'5"
        </p>
        <p>
          Hindi, Saini
        </p>
        <p>
          Meerut, Utter Pradesh
        </p>
        <ion-button expand="block" fill="outline">Connect Now</ion-button>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <div class="title" id="Recent_Profile_Visitors">
    <p class="title1">Recent Profile Visitors (12)</p>
    <p class="title2">See All</p>
   </div>
  
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <ion-card class="scroll_card">
        <img src="/assets/images/avatar.jpeg"/>
        <p class="name">
          Ajay kumar
        </p><p>
          25yrs, 5'5"
        </p>
        <p>
          Hindi, Saini
        </p>
        <p>
          Meerut, Utter Pradesh
        </p>
        <ion-button expand="block" fill="outline">Connect Now</ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="scroll_card">
        <img src="/assets/images/avatar.jpeg"/>
        <p class="name">
          Ajay kumar
        </p><p>
          25yrs, 5'5"
        </p>
        <p>
          Hindi, Saini
        </p>
        <p>
          Meerut, Utter Pradesh
        </p>
        <ion-button expand="block" fill="outline">Connect Now</ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="scroll_card">
        <img src="/assets/images/avatar.jpeg"/>
        <p class="name">
          Ajay kumar
        </p><p>
          25yrs, 5'5"
        </p>
        <p>
          Hindi, Saini
        </p>
        <p>
          Meerut, Utter Pradesh
        </p>
        <ion-button expand="block" fill="outline">Connect Now</ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="scroll_card">
        <img src="/assets/images/avatar.jpeg"/>
        <p class="name">
          Ajay kumar
        </p><p>
          25yrs, 5'5"
        </p>
        <p>
          Hindi, Saini
        </p>
        <p>
          Meerut, Utter Pradesh
        </p>
        <ion-button expand="block" fill="outline">Connect Now</ion-button>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
