.scroll_button_matches {
    width: 100%;
    padding: 10px 10px 0px 10px;
    white-space: nowrap;
    max-width: 1000px;
    -webkit-overflow-scrolling: touch;
    flex-wrap: nowrap;
    overflow-x: scroll !important;
    overflow-y: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

.btn {
    height: 30px;
    --font-size: medium;
    border-radius: 0%;
    padding: 0px 8px 0px 2px;
    --border-radius: 5px;
}
.scroll_card {
    img {
        width: 250px;
    height: 250px;
    padding: 10px;
    border-radius: 125px;
    }

    .data {
        font-weight: 500;
        hr {
            background: lightgrey;
            margin: 10px;
        }

        .name {
            padding-bottom: 5px;
            font-size: 16px;
            font-weight: 400;
            color: black;
        }

        .button_list {
            position: relative;
            border-top-style: solid;
            border-top-color: white;
            border-top-width: 1px;
        }

        p {
            font-weight: 500;
            padding: 0px 5px 0px 15px;
            text-align: left;
            margin: 0px;
            font-size: 13px;
        }
    }
}

ion-card {
    position: relative;
    text-align: center;
}