<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center logo">
      <img src="/assets/images/knnewlogo.png">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/search'">
          <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar>
    <div scrollX="true" direction="x" overflow-scroll="false" class="scroll_button_matches">
      <ion-button fill="outline" class="btn" (click)="inbox('invitation')">Invitation <ion-text *ngIf="count">({{count}})</ion-text></ion-button>
      <ion-button fill="outline" class="btn" (click)="inbox('accepted')">Accepted</ion-button>
      <ion-button fill="outline" class="btn" (click)="inbox('sent')">Sent</ion-button>
      <ion-button fill="outline" class="btn" (click)="inbox('wishlist')">Shortlist</ion-button>
      <ion-button fill="outline" class="btn" (click)="inbox('decline')">Decline</ion-button>
  </div>
  </ion-toolbar> -->
  <ion-toolbar>
    <ion-segment scrollable value="invitation" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="invitation">
        <ion-label>Invitation <ion-text *ngIf="count.invitation">({{count.invitation}})</ion-text></ion-label>
      </ion-segment-button>
      <ion-segment-button value="accepted">
        <ion-label>Accepted <ion-text *ngIf="count.accepted">({{count.accepted}})</ion-text></ion-label>
      </ion-segment-button>
      <ion-segment-button value="sent">
        <ion-label>Sent <ion-text *ngIf="count.sent">({{count.sent}})</ion-text></ion-label>
      </ion-segment-button>
      <ion-segment-button value="wishlist">
        <ion-label>Shortlist <ion-text *ngIf="count.wishlist">({{count.wishlist}})</ion-text></ion-label>
      </ion-segment-button>
      <ion-segment-button value="decline">
        <ion-label>Decline <ion-text *ngIf="count.decline">({{count.decline}})</ion-text></ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="scroll_card" *ngFor="let item of data" (click) = "openDetailpage(item.uniq_id)">
    <img [src]="item.first_image">
    <div class="data">
      <p class="name">
        {{item.name}}
      </p>
      <p>
        {{item.age }}yrs, <ion-text *ngIf="item.user_detail.height_detail_api">{{item.user_detail.height_detail_api.height_label_feet}}</ion-text>
    </p>
    <p>
      <ion-text *ngIf="item.user_detail.religion_detail_api"> {{item.user_detail.religion_detail_api.religion}}</ion-text> <ion-text *ngIf="item.user_detail.community_detail_api">,{{item.user_detail.community_detail_api.community}}</ion-text> 
     </p>
    <p>
      <ion-text *ngIf="item.user_detail.city_detail_api">{{item.user_detail.city_detail_api.name}}</ion-text><ion-text *ngIf="item.user_detail.state_detail_api">,  {{item.user_detail.state_detail_api.name}} </ion-text><ion-text *ngIf="item.user_detail.country_detail_api">{{item.user_detail.country_detail_api.name}}</ion-text> 
    </p>
      <hr>
    </div>
   
    <ion-row>
      <ion-col *ngIf="item.is_request_sent">
        <ion-button size="small" expand="block" color="light" (click)="$event.stopPropagation();">
          <ion-icon slot="start" name="close-circle-outline"></ion-icon>
          Request Sent
        </ion-button>
      </ion-col>
      <ion-col *ngIf="item.is_decline_button" >
        <ion-button size="small" expand="block" color="light" (click)="connect(item,'decline');$event.stopPropagation();">
          <ion-icon slot="start" name="close-circle-outline"></ion-icon>
          Decline
        </ion-button>
      </ion-col>
      <ion-col *ngIf="item.is_accept_button">
        <ion-button size="small" expand="block"  (click)="connect(item,'accept');$event.stopPropagation();">
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          Accept
        </ion-button>
      </ion-col>
      <ion-col *ngIf="item.is_chat">
        <ion-button size="small" expand="block"  (click)="chat();$event.stopPropagation();">
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          Chat Now
        </ion-button>
      </ion-col>
      <ion-col *ngIf="item.is_connect_button">
        <ion-button size="small" expand="block"  (click)="connect(item,'connect');$event.stopPropagation();">
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          Connect Now
        </ion-button>
      </ion-col>
    </ion-row>
  
  </ion-card>
</ion-content>
