<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center logo">
      <img src="/assets/images/knnewlogo.png">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="scroll_card">
    <img (click)="openModal()" src="/assets/images/dummy.jpeg" />
    <div class="data">
      <p class="name">
        Ajay kumar
      </p>
      <p>
        25yrs, 5'5" * Banking Professional
      </p>
      <p>
        Hindi, Saini
      </p>
      <p>
        Meerut, Utter Pradesh
      </p>
    </div>
  </ion-card>
  <ion-card>
    <div class="about">
      <h6>About Ajay Saini</h6>
      <p>Hello, here is a quick introduction about my daughter.
        She has completed her  B.Tech. We are looking for Jaat working in MNC, or Government job.Her optimistic personality is adored by one and all. 
        Please drop in a message if you would like to know more.</p>
    </div>
  </ion-card>

<ion-card>
  <div class="about">
    <h6>Basic Detials</h6>
    <ion-chip outline="true" color="danger">
      <ion-label color="dark">Created By Self</ion-label>
    </ion-chip>
    <ion-chip outline="true" color="danger">
      <ion-label color="dark">Profile id - FSRE7864HDBG</ion-label>
    </ion-chip>
    <ion-chip outline="true" color="danger">
      <ion-label color="dark">25 Yrs Old</ion-label>
    </ion-chip>
    <ion-chip outline="true" color="danger">
      <ion-label color="dark">Height- 5'5" </ion-label>
    </ion-chip>
    <ion-list>
      <ion-item>
        <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h3>Birth Date</h3>
          <p>12-02-2002</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h3>Marital Status</h3>
          <p>Never Married</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="location-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h3>Lives In</h3>
          <p>Delhi</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="document-text-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h3>Religion & Mother Tongue</h3>
          <p>Hindu, Hindi</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="people-circle-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h3>Community</h3>
          <p>Saini</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="people-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h3>Gothra</h3>
          <p>Bharadwaj</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="restaurant-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h3>Diet Preference</h3>
          <p>Vegetarian</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-card>
<ion-card>
  <div class="about">
    <h6>Contact Detials</h6>
    <ion-list>
      <ion-item>
        <ion-icon name="call-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h3>Contact No.</h3>
          <p>8523882090</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h3>Email ID</h3>
          <p>ajaysaini@gmail.com</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-card>
<ion-card>
  <div class="about">
    <h6>Faimly Details</h6>
    <p>Our family is originally from Meerut. Her father is employed and her mother is a homemaker. She has 1 brother (unmarried) and 1 sister (unmarried).</p>
  </div>
</ion-card>
<ion-card>
  <div class="about">
    <h6>Career & Education</h6>
    <ion-list>
      <ion-item>
        <ion-icon name="briefcase-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h3>Profession</h3>
          <p>Software Developer</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="business-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h3>Company Name</h3>
          <p>TCS</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="wallet-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h3>Annual Income</h3>
          <p>10-15Lakh annually</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="school-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h3>Education Field</h3>
          <p>Engineering</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="book-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h3>Education Field</h3>
          <p>Engineering</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="home-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h3>College Name</h3>
          <p>NIT Jamshedpur</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="full">Connect Now</ion-button>
  </ion-toolbar>
</ion-footer>