<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center logo">
            <img src="/assets/images/knnewlogo.png">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Edit Physical Details</ion-card-title>
            </ion-card-header>
            <ion-list class="ion-padding">
                <ion-item>
                    <ion-label>Height</ion-label>
                    <ionic-selectable [(ngModel)]="selectedData.height" placeholder="Your Height" [items]="dropDown.height" [isMultiple]="false" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="height_label_feet" [canSearch]="true">
                    </ionic-selectable>
                </ion-item>

                <ion-list>
                    <ion-radio-group [(ngModel)]="selectedData.body_type">
                        <ion-list-header>
                            <ion-label>Body Type?</ion-label>
                        </ion-list-header>

                        <ion-row>
                            <ion-col *ngFor="let entry of body_type">
                                <ion-item>
                                    <ion-label>{{entry.val}}</ion-label>
                                    <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-radio-group>
                </ion-list>
                <ion-list>
                    <ion-radio-group [(ngModel)]="selectedData.skin_tone">
                        <ion-list-header>
                            <ion-label>Skin Tone?</ion-label>
                        </ion-list-header>
                        <ion-row>
                            <ion-col *ngFor="let entry of skin_tone">
                                <ion-item>
                                    <ion-label>{{entry.val}}</ion-label>
                                    <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                                </ion-item>
                            </ion-col>

                        </ion-row>
                    </ion-radio-group>
                </ion-list>
                <ion-list>
                    <ion-radio-group [(ngModel)]="selectedData.disability">
                        <ion-list-header>
                            <ion-label>Any Disability?</ion-label>
                        </ion-list-header>
                        <ion-row>
                            <ion-col *ngFor="let entry of disability">
                                <ion-item>
                                    <ion-label>{{entry.val}}</ion-label>
                                    <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-radio-group>
                </ion-list>
                <ion-button expand="block" color="primary">Update Profile</ion-button>
            </ion-list>
        </ion-card>
    </div>

</ion-content>