<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center logo">
      <img src="/assets/images/knnewlogo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg">
  <ion-card>
    <ion-text color="dark" class="ion-text-center">
      <p>Already a member? Please enter your Email id </p>
    </ion-text>
    <form [formGroup]="rForm">
    <ion-list class="ion-padding">
      <ion-item>
        <ion-label position="floating" color="primary">Email Address</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div>
        <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">Please Enter a valid Email.</div>
    </div>
      <ion-button expand="block" color="primary" (click)="forgot()" [disabled]="!rForm.valid">Submit</ion-button>
    </ion-list>
  </form>
  </ion-card>
 
</ion-content>
