<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center logo">
      <img src="/assets/images/knnewlogo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg">
  <ion-card>
    <ion-text color="dark" class="ion-text-center">
      <p>Already a member? Please enter your Email id </p>
    </ion-text>
    <ion-list class="ion-padding">
      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary">Submit</ion-button>
    </ion-list>
  </ion-card>
 
</ion-content>
