<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center logo">
      <img src="/assets/images/knnewlogo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg">
  <ion-card>
    <ion-text color="dark" class="ion-text-center">
      <h3 class="highlighted-text"><span >Let's </span>set up your account, <br>while we find Matches for you!</h3>
    </ion-text>
    <form [formGroup]="rForm">
    <ion-list class="ion-padding">
      <ion-item>
        <ion-label position="floating">Please enter your full name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <div>
        <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">Please Enter a valid Name.</div>
    </div>
      <ion-item>
        <ion-label position="floating">Date of Birth (MM/DD/YYYY)</ion-label>
        <ion-datetime presentation="date" formControlName="dob" displayFormat="MM/DD/YYYY" min="1950-01-01"></ion-datetime>
      </ion-item>
      <div>
        <div class="alert" *ngIf="!rForm.controls['dob'].valid && rForm.controls['dob'].touched">Please Enter a valid Date of Birth.</div>
    </div>
      <ion-list>
        <ion-radio-group value="Male" formControlName="gender">
          <ion-list-header>
            <ion-label>Gender</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Male</ion-label>
            <ion-radio slot="start" value="Male"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Female</ion-label>
            <ion-radio slot="start" value="Female"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-item>
        <ion-label>Create profile for</ion-label>
        <ion-select interface="popover" formControlName="create_profile_for">
          <ion-select-option value="Self">Self</ion-select-option>
          <ion-select-option value="Son">Son</ion-select-option>
          <ion-select-option value="Daughter">Daughter</ion-select-option>
          <ion-select-option value="Brother">Brother</ion-select-option>
          <ion-select-option value="Sister">Sister</ion-select-option>
        </ion-select>
      </ion-item>
      <div>
        <div class="alert" *ngIf="!rForm.controls['create_profile_for'].valid && rForm.controls['create_profile_for'].touched">Please Select a valid Create profile for.</div>
    </div>
      <ion-item>
        <ion-label position="floating">Enter your mobile number</ion-label>
        <ion-input type="tel" formControlName="mobile"></ion-input>
      </ion-item>
      <div>
        <div class="alert" *ngIf="!rForm.controls['mobile'].valid && rForm.controls['mobile'].touched">Please Enter a valid Mobile Number.</div>
    </div>
      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div>
        <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">Please Enter a valid Email.</div>
    </div>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div>
        <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">Please Enter a valid Password.</div>
    </div>
      <ion-button expand="block" color="primary" [disabled]="!rForm.valid" (click)="signup()">Register</ion-button>
      <ion-text color="dark" class="ion-text-center">
        <h6 class="highlighted-text">Already have a account!!!<br><span [routerLink]="['/login']">SIGN IN </span></h6>
      </ion-text>
    </ion-list>
  </form>
  </ion-card>
 
</ion-content>
