<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center logo">
            <img src="/assets/images/knnewlogo.png">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
        <ion-card-header>
            <ion-card-title>My BioData Details</ion-card-title>
        </ion-card-header>
        <ion-list class="ion-padding">
            <ion-text color="dark">
                <h4 class="header">Personal Details</h4>
            </ion-text>
            <ion-item>
                <ion-label position="floating">Your Name</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Date Of Birth</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Your Mobile Number</ion-label>
                <ion-input value="8523882090" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Your Email</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Your Education</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Your Height (Feet & Inch)</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Self Gotra</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Mother Gotra</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Dadi Gotra</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Nani Gotra</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-text color="dark">
                <h4 class="header">Family Background / Details</h4>
            </ion-text>
            <ion-item>
                <ion-label position="floating">Father Name</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Father Occupation</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Mother Name</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Mother Occupation</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Siblings</ion-label>
                <ion-input placeholder="like brother name, sister name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Address</ion-label>
                <ion-textarea placeholder="Your Address"></ion-textarea>
            </ion-item>

            <ion-button expand="block" color="primary">Save & Continue</ion-button>
        </ion-list>
    </ion-card>
</ion-content>