<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center logo">
            <img src="/assets/images/knnewlogo.png">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
        <ion-card-header>
            <ion-card-title>Manage your profile</ion-card-title>
        </ion-card-header>
        <ion-list class="ion-padding">
            <ion-item [routerLink]="'editprofile'">
                <ion-label>Edit Personal Profile</ion-label>
            </ion-item>
            <ion-item [routerLink]="'contactfilter'">
                <ion-label>Set Contact Filters</ion-label>
            </ion-item>
            <ion-item [routerLink]="'editpartnerprofile'">
                <ion-label>Edit Partner Profile</ion-label>
            </ion-item>
            <ion-item [routerLink]="'contactdetails'">
                <ion-label>Edit Contact Details</ion-label>
            </ion-item>
            <ion-item [routerLink]="'physicalappearance'">
                <ion-label>Physical Appearance </ion-label>
            </ion-item>
            <ion-item [routerLink]="'educationprofessiondetails'">
                <ion-label>Edit Qualification & Profession Details</ion-label>
            </ion-item>
            <ion-item [routerLink]="'biodata'">
                <ion-label>Add / Edit Your Biodata</ion-label>
            </ion-item>
            <ion-item [routerLink]="'horoscope'">
                <ion-label>Add Your Horoscope</ion-label>
            </ion-item>
            <ion-item [routerLink]="'hideanddeleteaccount'">
                <ion-label>Hide & Delete Account</ion-label>
            </ion-item>
            <ion-item [routerLink]="'horoscopesetting'">
                <ion-label>Horoscope Settings</ion-label>
            </ion-item>

        </ion-list>
    </ion-card>
</ion-content>