<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center logo">
            <img src="/assets/images/knnewlogo.png">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="userData">
        <ion-card class="scroll_card">
            <img src="{{userData.user.first_image}}">
            <div class="data">
                <p class="name" [routerLink]="'uploadpic'">
                    View/Edit
                </p>
                <p>
                    {{userData.user.name}} ({{userData.user.uniq_id}})
                </p>
            </div>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title color="primary">Manage your profile</ion-card-title>
            </ion-card-header>
            <ion-row class="button_list">
                <ion-col size="6" [routerLink]="'editprofile'">
                    <ion-text color="danger">
                        <p>Edit Personal Profile</p>
                    </ion-text>
                </ion-col>
                <ion-col size="6" [routerLink]="'contactfilter'">
                    <ion-text color="danger">
                        <p>Set Contact Filters</p>
                    </ion-text>
                </ion-col>
            </ion-row>
            <ion-row class="button_list">
                <ion-col size="6" [routerLink]="'editpartnerprofile'">
                    <ion-text color="danger">
                        <p>Edit Partner Profile</p>
                    </ion-text>
                </ion-col>
                <ion-col size="6" [routerLink]="'contactdetails'">
                    <ion-text color="danger">
                        <p>Edit Contact Details</p>
                    </ion-text>
                </ion-col>
            </ion-row>
            <ion-row class="button_list">
                <ion-col size="6" [routerLink]="'physicalappearance'">
                    <ion-text color="danger">
                        <p>Physical Appearance</p>
                    </ion-text>
                </ion-col>
                <ion-col size="6" [routerLink]="'educationprofessiondetails'">
                    <ion-text color="danger">
                        <p>Edit Qualification & Profession Details</p>
                    </ion-text>
                </ion-col>
            </ion-row>
            <ion-row class="button_list">
                <ion-col size="6" [routerLink]="'biodata'">
                    <ion-text color="danger">
                        <p>Add / Edit Your Biodata</p>
                    </ion-text>
                </ion-col>
                <ion-col size="6" [routerLink]="'hideanddeleteaccount'">
                    <ion-text color="danger">
                        <p>Hide & Delete Account</p>
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title color="primary">Basic Info</ion-card-title>
            </ion-card-header>
            <ion-row class="button_list">
                <ion-col size="5">
                    <p class="lable_title">Posted By</p>
                </ion-col>
                <ion-col size="7">
                    <p>: {{userData.user.create_profile_for}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list">
                <ion-col size="5">
                    <p class="lable_title">Age</p>
                </ion-col>
                <ion-col size="7">
                    <p>: {{userData.user.age}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list">
                <ion-col size="5">
                    <p class="lable_title">Height</p>
                </ion-col>
                <ion-col size="7" *ngFor="let height of userData.user_details.height">
                    <p>: {{height.height_label_feet}} ({{height.height_value_cm}} cm)</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list">
                <ion-col size="5">
                    <p class="lable_title">Marital Status</p>
                </ion-col>
                <ion-col size="7">
                    <p *ngFor="let martialstatus of userData.user_details.martialstatus">: {{martialstatus.name}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list">
                <ion-col size="5">
                    <p class="lable_title">Skin Tone</p>
                </ion-col>
                <ion-col size="7">
                    <p>: {{userData.user_details.skin_tone}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list">
                <ion-col size="5">
                    <p class="lable_title">Diet</p>
                </ion-col>
                <ion-col size="7">
                    <p>: {{userData.user_details.diet}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list">
                <ion-col size="5">
                    <p class="lable_title">Smoking</p>
                </ion-col>
                <ion-col size="7">
                    <p>: {{userData.user_details.does_smoke}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list">
                <ion-col size="5">
                    <p class="lable_title">Drinking</p>
                </ion-col>
                <ion-col size="7">
                    <p>: {{userData.user_details.does_drink}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list">
                <ion-col size="5">
                    <p class="lable_title">Disability</p>
                </ion-col>
                <ion-col size="7">
                    <p>: {{userData.user_details.disability}}</p>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title color="primary">More about Myself</ion-card-title>
            </ion-card-header>
            <ion-row class="button_list">
                <ion-col content>
                    <p>{{userData.user.about}}</p>
                </ion-col>
            </ion-row>

        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title color="primary ">More about Family</ion-card-title>
            </ion-card-header>
            <ion-row class="button_list ">
                <ion-col>
                    <p>{{userData.user.familydetails}}</p>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title color="primary ">Religious Background</ion-card-title>
            </ion-card-header>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Religion</p>
                </ion-col>
                <ion-col size="7 ">
                    <p *ngFor="let religion of userData.user_details.religion_id ">: {{religion.religion}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Community</p>
                </ion-col>
                <ion-col size="7 ">
                    <p *ngFor="let community of userData.user_details.community_id ">: {{community.community}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Sub community</p>
                </ion-col>
                <ion-col size="7 ">
                    <p>: {{userData.user_details.sub_community}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Mother Tongue</p>
                </ion-col>
                <ion-col size="7 ">
                    <p>: {{userData.user_details.tongue}}</p>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title color="primary ">Location, Eduction and Career</ion-card-title>
            </ion-card-header>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Country Living in</p>
                </ion-col>
                <ion-col size="7 ">
                    <p *ngFor="let country_id of userData.user_details.country_id ">: {{country_id.name}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">State Living in</p>
                </ion-col>
                <ion-col size="7 ">
                    <p *ngFor="let state_id of userData.user_details.state_id ">: {{state_id.name}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">City Living in</p>
                </ion-col>
                <ion-col size="7 ">
                    <p *ngFor="let city_id of userData.user_details.city_id ">: {{city_id.name}}</p>
                </ion-col>
            </ion-row>

            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Education Level</p>
                </ion-col>
                <ion-col size="7 ">
                    <p >: {{userData.user_details.education_level}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Education Field</p>
                </ion-col>
                <ion-col size="7 ">
                    <p *ngFor="let education_field of userData.user_details.education_field ">: {{education_field.name}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Working with</p>
                </ion-col>
                <ion-col size="7 ">
                    <p *ngFor="let workwith of userData.user_details.workwith ">: {{workwith.name}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Working as</p>
                </ion-col>
                <ion-col size="7 ">
                    <p *ngFor="let occupation of userData.user_details.occupation ">: {{occupation.name}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Annual Income</p>
                </ion-col>
                <ion-col size="7 ">
                    <p *ngFor="let annualincome of userData.user_details.annualincome ">: {{annualincome.name}}</p>
                </ion-col>
            </ion-row>

        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title color="primary ">Partner Preferences</ion-card-title>
            </ion-card-header>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Age</p>
                </ion-col>
                <ion-col size="7 ">
                    <p>: {{userData.partner_details.age_from}} To {{userData.partner_details.age_to}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Height From</p>
                </ion-col>
                <ion-col size="7 ">
                    <p *ngFor="let height_from of userData.partner_details.height_from ">: {{height_from.height_label_feet}} ({{height_from.height_value_cm}})</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Height To</p>
                </ion-col>
                <ion-col size="7 ">
                    <p *ngFor="let height_to of userData.partner_details.height_to ">: {{height_to.height_label_feet}} ({{height_to.height_value_cm}})</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Marital Status</p>
                </ion-col>
                <ion-col size="7 ">
                    <p>: {{userData.partner_details.martialstatus}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Religion</p>
                </ion-col>
                <ion-col size="7 ">
                    <p>: {{userData.partner_details.religion}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Mother Tongue</p>
                </ion-col>
                <ion-col size="7 ">
                    <p >: {{userData.partner_details.tongue}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Community</p>
                </ion-col>
                <ion-col size="7 ">
                    <p >: {{userData.partner_details.community}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Country Living in</p>
                </ion-col>
                <ion-col size="7 ">
                    <p>: {{userData.partner_details.country_id}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list " text-wrap>
                <ion-col size="5 ">
                    <p class="lable_title ">State Living in</p>
                </ion-col>
                <ion-col size="7 ">
                    <p style="padding-left:0px; ">: {{userData.partner_details.state_id}}</p>
                </ion-col>
            </ion-row>

            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Highest Qualification</p>
                </ion-col>
                <ion-col size="7 ">
                    <p >: {{userData.partner_details.education_level}}</p>
                </ion-col>
            </ion-row>

            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Working with</p>
                </ion-col>
                <ion-col size="7 ">
                    <p >: {{userData.partner_details.workwith}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Working as</p>
                </ion-col>
                <ion-col size="7 ">
                    <p >: {{userData.partner_details.occupation}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Annual Income</p>
                </ion-col>
                <ion-col size="7 ">
                    <p >: {{userData.partner_details.annualincome}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Profile Created by</p>
                </ion-col>
                <ion-col size="7 " text-wrap>

                    <p>: {{userData.partner_details.profile_created_by}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="button_list ">
                <ion-col size="5 ">
                    <p class="lable_title ">Diet</p>
                </ion-col>
                <ion-col size="7 ">
                    <p>: {{userData.partner_details.diet}}</p>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>

</ion-content>