<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center logo">
            <img src="/assets/images/knnewlogo.png">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
        <ion-card-header>
            <ion-card-title>Hide & Delete Account</ion-card-title>
        </ion-card-header>
        <ion-list class="ion-padding">

            <ion-list>
                <ion-radio-group [(ngModel)]="selectedData.is_hide">
                    <ion-list-header>
                        <ion-label>Hide Account</ion-label>
                    </ion-list-header>
                    <ion-item *ngFor="let entry of is_hide">
                        <ion-label>{{entry.name}}</ion-label>
                        <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
            <ion-list>
                <ion-radio-group [(ngModel)]="selectedData.status">
                    <ion-list-header>
                        <ion-label>Delete Account</ion-label>
                    </ion-list-header>

                    <ion-item *ngFor="let entry of status">
                        <ion-label>{{entry.name}}</ion-label>
                        <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                    </ion-item>


                </ion-radio-group>
            </ion-list>
            <ion-button expand="block" color="primary" (click)="save()">Save</ion-button>
        </ion-list>
    </ion-card>

</ion-content>