<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center logo">
            <img src="/assets/images/knnewlogo.png">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-segment value="1" (ionChange)="segmentChanged($event)" color="primary">
        <ion-segment-button value="1">
          <ion-label>Basic Search</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>Advance Search</ion-label>
        </ion-segment-button>
      </ion-segment>
    <ion-card *ngIf="selectSegment == 1">
        <ion-card-header>
            <ion-card-title>Basic Search</ion-card-title>
            <ion-card-subtitle>Search Your Partner</ion-card-subtitle>
        </ion-card-header>
        <ion-list class="ion-padding">
            <ion-item>
                <ion-range min="18" max="45" dual-knobs pin [(ngModel)]="selectedData.age">
                    <ion-label slot="start">Age 18</ion-label>
                    <ion-label slot="end">Age 45</ion-label>
                </ion-range>
            </ion-item>
            <ion-item>
                <ion-label>Height From</ion-label>
                <ionic-selectable [(ngModel)]="selectedData.heightFrom" [items]="dropDown.heightFrom" [isMultiple]="false" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="height_label_feet" [canSearch]="true">
                </ionic-selectable>
            </ion-item>
            <ion-item>
                <ion-label>Height To</ion-label>
                <ionic-selectable [(ngModel)]="selectedData.heightTo" [items]="dropDown.heightFrom" [isMultiple]="false" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="height_label_feet" [canSearch]="true">
                </ionic-selectable>
            </ion-item>
            <ion-item>
                <ion-label>Marital Status</ion-label>
                <ion-select multiple="true" interface="popover" [(ngModel)]="selectedData.marital_status">
                    <ion-select-option *ngFor="let data of dropDown.martialstatus" [value]="data.id">{{data.name}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Religion</ion-label>
                <ion-select multiple="true" interface="popover" [(ngModel)]="selectedData.religion">
                    <ion-select-option *ngFor="let data of dropDown.religions" [value]="data.id">{{data.religion}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Mother Tongue</ion-label>
                <ionic-selectable [(ngModel)]="selectedData.tongue" [items]="dropDown.tongues" [isMultiple]="true" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="tongue_id" itemTextField="tongue" [canSearch]="true">
                </ionic-selectable>
            </ion-item>
            <ion-item>
                <ion-label>Country in Living</ion-label>
                <ionic-selectable [(ngModel)]="selectedData.country" [items]="dropDown.countries" [isMultiple]="true" [isConfirmButtonEnabled]="true" headerColor="primary" itemValueField="id" itemTextField="name" [canSearch]="true">
                </ionic-selectable>
            </ion-item>
            <ion-button expand="block" color="primary" (click)="search()">Search</ion-button>
        </ion-list>
    </ion-card>
    <app-advancesearch *ngIf="selectSegment == 2"></app-advancesearch>
   
</ion-content>